.sentence {
    padding: 5px;
    background-color: #eeeeee;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sentence-block {
    margin-bottom: 40px;
}

.sentence-text {
    margin-left: 10px;
}

.sentence-question {
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px;
}

.sentence-main-question {
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px;
}

.sentence-sub-question {
    margin-top: 10px;
    margin-left: 70px;
    padding: 5px;
}

.sentence-checks {
    margin: 25px;
}

.readme {
    margin-left: 0px;
    margin-right: 0px;
}

.readme-explanation {
    margin: 10px;
}

.readme-header {
    margin-bottom: 20px;
}

.thankyou {
    margin-top: 100px;
}

.login {
    margin-top: 50px;
}

.login-type {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    margin-top: 20px;
    margin-left: 50px;
    display: inline;
}

.header {
    margin-top: 25px;
}

.header-progress {
    margin-top: 25px;
    padding-bottom: 25px;
}

.closing {
    margin-top: 50px;
    margin-bottom: 50px;
}

.likert-button {
    margin-left: 5px;
    margin-right: 5px;
}

.term-info {
    margin-left: 10px;
}

.annotator-name {
    width: 100px;
    margin-right: 50px;
}

.comment-box {
    display: inline-block;
    margin-bottom: 50px;
}

